.header{
    font: caption;
    font: bolder;
    color: #909090;
    padding: -100px 0px 0px 150px;

}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1px;
    justify-content: center;
}

.menu li a:hover img {
  transform: scale(1.1); 
}

.social-links li a:hover img {
  transform: scale(1.1); 
}

h1{
    padding: 10px 15px 0px 70px;
    color: #262626;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h2 {
    padding: 20px 0px 0px 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #262626;
    font-size: 29px;
}

h3 {
    padding: 20px 0px 0px 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #262626;
    font-size: 29px;
}

p {
    padding: 5px 0px 0px 70px;
    font: caption;
    font: bolder;
    color: #909090;
    line-height: 35px;
}

a{  
    padding: 25px 0px 0px 70px;
    font: caption;
    font: bolder;
    color: #262626;
}
.cell{
    padding: 40px 0px 0px 135px;

}

.yip{
    padding: 25px 0px 0px 100px;
    display: flex;
}

.About{
    color: #909090;
    font: caption;
    font: bolder;
    padding: -100px 0px 0px 0px;
}

.Experience{
    color: #909090;
    font: caption;
    font: bolder;
    padding: -10px 0px 0px 0px;
}

.Development{
    color: #909090;
    font: caption;
    font: bolder;
    padding: -10px 0px 0px 0px;
}

.Design{
    color: #909090;
    font: caption;
    font: bolder;
    padding: -10px 0px 0px 0px;
}

.Extracurriculars{
    color: #909090;
    font: caption;
    font: bolder;
    padding: -10px 0px 0px 0px;
}

.Contact{
    color: #909090;
    font: caption;
    font: bolder;
    padding: -10px 0px 0px 0px;
}
.UNSW{
    color: #262626;
}
.lista{
    font: caption;
    font: bolder;
    color: #909090;
    line-height: 35px;
}
.legend{
    color: #262626;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
