h1{
    color: #eaeade;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #eaeade;
}

p {
    font: caption;
    font: bolder;
    color: #909090;
}

a{  font: caption;
    font: bolder;
    color: #eaeade;
}
