h1{
    padding: 10px 15px 0px 70px;
    color: #eaeade;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h2 {
    padding: 20px 0px 0px 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #eaeade;
    font-size: 29px;
}

p {
    padding: 5px 0px 0px 70px;
    font: caption;
    font: bolder;
    color: #909090;
    line-height: 35px;
}

a{  
    padding: 25px 0px 0px 70px;
    font: caption;
    font: bolder;
    color: #eaeade;
}
.cell{
    padding: 40px 0px 0px 135px;

}

.yip{
    padding: 24px 0px 0px 40px;
}

.insta{
    padding: 25px 0px 0px 720px;
}

.github{
    padding: 25px 0px 0px 10px;
}
